body{
    background-color: rgb(183, 203, 240);
}
body ::selection{
    background-color: rgb(180, 211, 150);
}
.Heading{
    font-size: 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.RandomWord{
    text-align: center;
    font-size: 3vw;
    text-decoration: underline rgb(150, 150, 226) dotted;
    text-overflow: clip;
}
.Button{
   margin-left: 45vw;
   width: 10vw;
   height: 5vw;
   background-color: rgb(195, 159, 228);
   font-size: 2vw;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: italic;
}
.NumberPick{
    position: absolute;
    left: 5%;
    top: 5%;
    background-color: rgb(190, 213, 255);
    width: 10vw;
    height: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.lp{
    position: absolute;
    left: 5%;
    top: 0%;  
}
